.list {
  height: 100%;
  padding: 0.5rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;

  .item {
    border-radius: 0.5rem;
    &:hover {
      background-color: rgb(51, 51, 51);
      color: white;
    }
    .link {
      display: block;
      padding: 0.5rem 0 0.5rem 0.5rem;

      .tags {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
