.grid {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: repeat(6, 0.8fr);
  grid-column-gap: 0px;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
}
.item {
  text-align: right;
}
.value {
  text-align: left;
}
